<main class="container content box is-bordered has-background-primary-light px-4 m-4">
<div class="notification is-dark">
	<h1 class="title">Edit Post</h1>
    </div>	
	<form method="post" action="#">
		<div class="field">
			<label class="label" for="title">Title</label>
			<input type="text" name="name" id="title" class="input">
		</div>
		<div class="field">
			<label class="label" for="content">Content</label>
			<textarea name="content" id="content" class="textarea"></textarea>
		</div>

		<div class="field">
			<button type="create" class="button is-light is-fullwidth">Update Post</button>
		</div>
        <div class="field">
			<button type="create" class="button is-light is-fullwidth">Delete</button>
		</div>
	</form>

</main>