
        {{#each posts as |post|}}
          {{>post-info post}}

          {{else}}
            <h3 class="pb-4 has-text-centered is-italic">
              there are currently no posts
            </h3>
        {{/each}}
      